@import "../../../style/vars";

.menu-wrapper{
    position: absolute;
    z-index: 12;
    top: $header-height; 
    right: -25px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #333;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            button {
                width: 100%;
                padding-left: 0.5rem;
                padding-right: 2rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                text-align: left;
                background-color: transparent;
                border: none;
                &:hover {
                    background-color: #e9f0f1;
                }
                &.active {
                    background-color: #ebf3f8;
                }
            }
        }
    }
}

.file-names {
    border-bottom: 1px solid #333;
}