.context-menu {
    background: white;
    box-shadow: 10px 19px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
  button {
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
    background-color: transparent;
    &:hover {
        background: #eaf0f1;
    }
    &:disabled {
        opacity: 0.5;
    }
  }
}
