@import "./vars";

h5 {
    margin: 0;
}
button, select {
    color: #000000;
}

.aside {
    position: relative;
    .hide-btn {
        position: absolute;
        z-index: 11;
        left: 300px;
    }
    .sidebar-content {
        background-color: rgb(255, 255, 255);
        width: 300px;
        height: 100%;
        border-right: 1px solid rgb(220, 220, 220);
        position: absolute;
        top: 0;
        z-index: 10;
        overflow-y: auto;
    }
    &.hidden {
        left: -300px;
    }
}

button {
    cursor: pointer;
}

.db-name {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: white;
}

.new-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #9fc8b9;
    font-size: 1rem;
    font-weight: bold;
    color: #092635;
}

.tables-nav, .table-props {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        &:not(:last-child) {
            border-bottom: 1px solid #e1e1e1;
        }
    }
}

.table-props li {
    &[draggable="true"] {
        cursor: grab;
    }
}

.table-props-container > summary {
    // background-color: pink
    &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
}
// .table-props-container[open] > summary {
//     background-color: #e0e0e0;
// }

.tables-nav li {
    padding: 0;
}

.table-props li {
    padding: 1rem 0;
}

.table-props li .row {
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
}

.border-bottom {
    border-bottom: 1px solid #e1e1e1;
}
.padding-top {
    padding-top: 1rem;
}
.padding-bottom {
    padding-bottom: 1rem;
}

.d-flex {
    display: flex;
}

.icon-btn {
    height: 30px;
    width: 24px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    &:disabled {
        opacity: 0.3;
    }
    &:hover {
        background-color: #eaf0f1;
    }
}

.active {
    background-color: #bddbf6;
}

.table-input {
    height: 30px;
    border: 1px solid #ababab;
    border-radius: 3px;
}

.table-name-input {
    position: relative;
    background-color: transparent;
    border: 1px solid #3a3a3a;
    border-radius: 3px;
    font-size: 1rem;
    &:disabled {
        border: none;
        background-color: transparent;
    }
}

.circle-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.circle-btn {
    border-radius: 50%;
    background-color: #ffffff;
    border: 4px solid #e7e7e7;
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover, &.active {
        background-color: #ebf3f8;
    }
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(159, 200, 185);
    border: none;
    padding: 0.5rem;
    color: rgb(9, 38, 53);
    border-radius: 5px;
    // margin-right: 1rem;
    font-weight: bold;
}

.normal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #d5dde2;
    padding: 0.5rem;
    color: rgb(9, 38, 53);
    border-radius: 5px;
}

select {
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #a7aeb3;
    border-radius: 5px;
}