.multi-select-dropdown {
    &:not(:first-child) {
        margin-top: 0.5rem;
    }
    .input {
        border: 1px solid #ccc;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dropdown-menu {
    list-style: none;
    min-width: 120px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    position: absolute;
    background-color: white;
    z-index: 5;
    li {
        padding: 8px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.85rem;
        &.selected {
            background-color: #efefef;
        }
    }
}

