* {
    box-sizing: border-box;
}

.column-container {
  height: 1rem;
  padding: 5px;
  min-width: 200px;
  width: 100%;
  display: flex;
}

.column-container label {
  display: block;
  color: #777;
  font-size: 12px;
}
.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
  width: 100%;
}
.col input {
    border: none;
    background-color: transparent;
}
.col-type {
  color: #ababab;
  font-size: 0.7rem;
  font-weight: normal;
}

.title {
    width: 200px;
    border-top: 5px solid red;
    background-color: #ababab;
    z-index: 1;
}

.title h3 {
    margin: 0;
}

.react-flow__attribution {
    display: none;
}
