.flow {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 40px);
  width: 100%;
}

.flow .react-flow__handle {
  opacity: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  height: 100%;
  width: 20px;
  &:hover {
    opacity: 1;
  }
}

.flow .react-flow__handle-left {
  left: -3px;
  border-left: 6px solid #999999;

}

.flow .react-flow__handle-right {
  right: -3px;
  border-right: 6px solid #999999;

}

.edge-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: #eee;
  border: 1px solid #fff;
  border-radius: 50%;
  svg {
    height: 100%;
    width: auto;
   
    @media (min-width: 400px) { 
       height: auto;
       width: auto;
    }
  }
  &:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  }
}


.react-flow__edge-path-selector:hover { cursor: pointer; }
.react-flow__edge-path-selector:hover + .react-flow__edge-path, .react-flow__edge-path:hover  {
    stroke: #555;
    cursor: pointer;
}
.react-flow__edge-path-selector {
    fill: none;
    stroke: transparent;
    stroke-width: 10;
}

.col-select-wrapper {
  display: flex; 
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3px;
  select {
    width: 125px;
    @media (min-width: 400px) {
      width: initial;
    }
  }
}

.fk-ref-actions-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  .fk-ref-actions {
    select {
      width: 100px;
      @media(min-width: 400px) {
        width: 150px;
      }
      &:last-child{
         margin-left: 3px;
         @media(min-width: 400px) {
          margin-left: 0;
        }
      }
    }
  }
}


.column-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: rgb(232, 233, 234);
  }
}

.column-container label {
  display: block;
  color: #777;
  font-size: 12px;
}
.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  font-size: 0.75rem;
  .col-text {
    position: relative;
  }
  .col-name {
    margin-left: 0.7rem; 
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.col input {
    border: none;
    background-color: transparent;
}
.col-type {
  color: #ababab;
  font-size: 0.7rem;
  font-weight: normal;
  margin-left: 1rem;
  overflow: hidden;
}

.title {
    width: 100%;
    border-top: 5px solid red;
    background-color: #ababab;
    z-index: 1;
}

.title h3 {
    margin: 0;
}

.react-flow__attribution {
    display: none;
}

table {
    border: 1px solid #adadad;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 0 0.5rem;
}
th {
    border-bottom: 1px solid #adadad;
}

.react-flow__node-table {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.587);
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 8px;
  color: #222;
  font-size: 12px;
  text-align: center;
  min-width: 150px;
  overflow: hidden;
  &.selected {
      box-shadow: 0 14px 28px rgba(0, 0, 134, 0.25), 0 10px 10px rgba(0, 0, 134, 0.25);
  }
}

.react-flow__node-note {
  box-shadow: rgba(0, 0, 0, 0.45) 0.95px 2.95px 3.6px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #222;
  font-size: 12px;
  text-align: center;
  min-height: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  &.selected {
      box-shadow: rgba(0, 0, 0, 0.35) 1.95px 8.95px 11.6px;
  }
}

.note {
  background-color: transparent;
  resize: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  cursor: grab;
  &.active {
    border: 1px solid #4545f8ef;
    cursor: text;
  }
  &:focus {
    outline: none;
  }
}

.toolbar {
  position: absolute; 
  top: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px;
  background-color: #ffffff;
  display: flex;
}